.cart {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.512);
  display: flex;
  justify-content: flex-end;
  padding: 100px 30px;
  z-index: 2;

  .container-cart {
    background-color: white;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transform: translateX(250%);
    animation: animTranslate 1s forwards;

    .remove-all {
      cursor: pointer;
    }

    .container-all-products-cart {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding-right: 30px;
      max-height: 200px;
      overflow-y: scroll;
    }

    img {
      width: 60px;
    }

    .cart-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .cart-product {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      .img-infos-product {
        display: flex;
        align-items: center;
        gap: 10px;

        .infos {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }

      .cart-quantity-product {
        background-color: $lightGrey;
        display: flex;
        align-items: center;
        gap: 10px;
        button {
          display: flex;
          align-items: center;
          padding: 10px 10px;
        }

        img {
          width: 20px;
        }
      }
    }

    .cart-footer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
  }

  button {
    max-width: unset !important;
    width: 100%;
  }

  .quantity-and-delete {
    display: flex;
    gap: 10px;
    align-items: center;

    .delete-item-cart {
      width: 20px;
      height: 25px;
      cursor: pointer;
    }
  }
}
