.main-product {
  display: flex;
  flex-direction: column;
  gap: 100px;

  &__container_categories {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

@import "./product-presentation/presentation-product";
@import "./product-mayAlsoLike/product-may-also-like";
@import "./product-gallery/product-gallery";
