
.main-home{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


@import 'home-intro-header/intro-header';
@import 'home-section1/section1';
@import 'home-section2/section2';
@import 'home-section3/section3';






