.may-also-like{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;


    .all-box-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

    }


    .box-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img{
            max-width: 100%;
        }
    }

    .mobile-other{

    }
    
    .tablet-other{
        display: none;
    }
    
    .desktop-other{
        display: none;

    }
}












@media screen and (min-width:800px) {
    .may-also-like{
    
        .all-box-item{
            flex-direction: row;
            gap: 1rem;
    
        }
    
        .mobile-other{
            display: none;

        }
        
        .tablet-other{
            display: block;
        }
    }
    
    
}








@media screen and (min-width:1000px) {
    .may-also-like{



        .tablet-other{
            display: none;
        }

        .desktop-other{
            display: block;
        }
    }
    
    
}