.page-product {
  display: flex;
  flex-direction: column;
  gap: 70px;

  .btn-quantity-product:hover {
    filter: brightness(101%);
  }

  .new-product {
    color: $orange;
  }

  .feature {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .quantity-item {
    color: $orange;
    font-weight: 500;
    font-size: 1rem;
  }

  .go-back {
    font-weight: 300;
    font-size: 1rem;
  }

  .alert-item-added-to-cart {
    position: fixed;
    top: 40px;
    left: 20px;
    background-color: rgb(64, 140, 64);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 10;
  }
  .presentation-product {
    display: flex;
    flex-direction: column;
    gap: 20px;

    * {
      max-width: 100%;
    }

    .txt-side {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .selector-quantity-and-add-to-cart {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 70px;

    .selector-quantity {
      background-color: $lightGrey;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        height: 100%;
        width: 40%;
      }
      img {
        width: 30px;
      }
    }
  }
}

.feature-and-in-the-box {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .in-the-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    h2 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    ul {
      display: flex;
      gap: 20px;
    }
  }
}

@media (min-width: 600px) {
  .page-product {
    .in-the-box {
      display: flex;
      flex-direction: row;
      gap: 155px;
      h2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }

      ul {
        display: flex;
        gap: 20px;
      }
    }
  }
}

@media (min-width: 600px) {
  .page-product {
    .presentation-product {
      display: flex;
      flex-direction: row;
      gap: 40px;
      align-items: center;
    }
  }
}

@media (min-width: 1000px) {
  .page-product {
    .feature-and-in-the-box {
      display: flex;
      flex-direction: row;
      gap: 100px;
    }

    .feature {
      width: 50%;
    }

    .in-the-box {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}
